.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.bots-states-grid{
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  border-radius: 15px;
  overflow:hidden;
}

.bot-name{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d7d7;
  border-bottom: 1px solid black;
  border-right: 1px solid #565656;
}

.bot-status{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #565656;
}

.free-status{
  background-color: #72dae1;
}

.busy-status{
  background-color: #ea96b4;
}

.bot-name:last-child, .bot-name:nth-last-child(2):nth-child(odd) {
  border-right: none;
}

.bot-status:last-child, .bot-status:nth-last-child(2):nth-child(odd) {
  border-right: none;
}